#moviesAll{
    position: relative;
    top: 70px;
    left: 75px;
    max-width: 1200px;
    width: 1188px;
}
.movie-container-all{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}
.category-header-all{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-right: 31px;
}
#allMovies-container{
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 20px;
    width: 95%;
    h1{
        width: 150px;
    }
}
.movie-box-all{
    width: 20%;
}
.img-all{
    width: 160px;
}
.movie-title-all{
    font-size: 14px;
}
#loadMore-button{
    appearance: none;
    outline: none;
    -webkit-appearence: none;
    -moz-appearence: none;
    -o-appearence: none;
    border:none;
    width: 100px;
    height: 50px;
    cursor: pointer;
    border: solid 1px black;
    background-color: white;
    &:hover{
        background-color: black;
        color: white;
    }
}