#pag-container{
    header{
        position: fixed;
        top: 0;
        left: 95px;
        height: 50px;
        display: flex;
        align-items: center;
        max-width: 1200px;
        padding: 10px 50px;
        z-index: 5;
        background-color: white;
        width: 100%;
        img{
            width: 20px;
            height: 20px;
        }
    }
    aside{
        position: fixed;
        top: 0;
        left: 0;
        width: 95px;
        height: 1000px;
        display: flex;
        flex-direction: column;
        z-index: 5;
    }
    #contenedor-logo{
        background-color: $main-color;
        width: 95px;
        display: flex;
        justify-content: center;
        min-height: 70px;
        img{
            width: 40px;
        }
    }
    #contenedor-categorias{
    display: flex;
    flex-direction: column;
    width: 95px;
    align-items: center;
    position: fixed;
    background-color: #FFFFFF;
    height: 100%;
    top:70px;
    left: 0;
    z-index: 10;
    }
    #categorias-lists{
        left: 0;
        margin: 0;
        padding: 0;
        width: 50vw;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 95px;
        opacity: 0.6;
    li{
        font-size: 10px;
        height: 60px;
        display: flex;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    h1{
        color: $main-color;
        font-size: 10px;
    }
    }
    .menuImg{
        width: 20px;
    }
    input[type="search"]{
        appearance: none;
        outline: none;
        -webkit-appearence: none;
        -moz-appearence: none;
        -o-appearence: none;
        border:none;
        width: 100%;
        padding-left: 10px;
        font-size: 16px;
    }
    input[type="search"]::-webkit-search-cancel-button {
        display: none;
    }
    }