body{
  margin: 0;
  padding: 0;
}
@media (min-width: 500px) {
  #movie-node {
    width: 50%;
  }
}

@media (max-width: 750px) {
  header,
  .box-ada {
    height: 50px;
  }
  .box-ada {
    width: 50px;
    img {
      width: 30px;
      height: 30px;
    }
  }
  header {
    border-bottom: solid grey 1px;
    margin-left: 50px;
    .search-box {
      padding: 0;
    }
    .menu {
      margin-right: 70px;
      height: 45px;
      width: 45px;
      display: block;
    }
  }
  nav {
    width: 0%;
    background-color: $light-transparent;
    ul {
      width: 100%;
      display: inline-block;
      text-align: center;
      visibility: hidden;
      li {
        width: 49%;
        display: inline-block;
      }
      .nav-box {
        width: 100%;
        border-bottom: solid grey 1px;
        height: 80px;
      }
    }
  }
  main {
    margin: 50px 0px 0px 0px;
  }
}


@media (min-width: 768px) {
  .nav-list {
    display: none;
  }
}
@media (max-width: 1040px) {
  .movies-body {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
}

@media (max-width: 1040px) {
  .movies-body {
    #movie-node {
      padding: 15px;
    }
  }
}

@media (max-width: 1250px) {
  #movie-node {
    width: 25%;
    &:nth-child(5) {
      display: none;
    }
  }
}

@media (min-width: 1250px) {
  #movie-node {
    width: 20%;
    box-sizing: border-box;
  }
}
