$main-font: 'Roboto', sans-serif;
$main-color: #081c24;
$title-size: 15px;
$large-size: 30px;
$thin-weight: 300;
$border-color: #f8f8f8;
$secondary-color:  #BC3B69;
$black: #000000;
$white: #ffffff;
$gray: grey;
$menu-color: #e2e2e29c;
$light-transparent: #f8f8f8f8;